<form #f="ngForm" (ngSubmit)="submit(f)">
  <div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        required
        minlength="4"
        maxlength="10"
        ngModel
        name="firstName"
        #firstName="ngModel"
        type="text"
        id="firstName"
        class="form-control"
        (change)="log(firstName)"
      />
      <div
        class="alert alert-danger"
        *ngIf="!firstName.valid && firstName.touched"
      >
        <div *ngIf="firstName.errors.required">
          First name is required.
        </div>
        <div *ngIf="firstName.errors.minlength">
          First name should be min
          {{ firstName.errors.minlength.requiredLength }}
          characters.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      required
      name="comment"
      id="comment"
      #comment="ngModel"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>

    <div class="alert alert-danger" *ngIf="comment.invalid && comment.touched">
      <div *ngIf="comment.errors.required">
        The comment is required.
      </div>
    </div>
  </div>

  <div class="checkbox">
    <label>Check me</label>
    <input type="checkbox" ngModel name="isChecked" />
    <p>
      {{ f.value | json }}
    </p>
  </div>

  <button
    class="btn btn-primary"
    [disabled]="firstName.invalid || comment.invalid"
  >
    Submit
  </button>
</form>
