<form [formGroup]="form">
  <!-- <input formControlName="name" />

  <div formGroupName="contact">
    <input formControlName="email" type="text" />
    <input formControlName="phone" type="text" />
  </div> -->

  <input
    #topic
    (keyup.enter)="addTopic(topic)"
    type="text"
    class="form-control"
  />

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let topic of topics.controls">
      <a
        [routerLink]="['/courses', topic.value]"
        [queryParams]="{ page: 1, order: 'newest' }"
      >
        {{ topic.value }}</a
      >
    </li>
  </ul>
</form>
