<div class="root-container">
  <div class="header">
    <h1>Angular</h1>

    <ul class="nav">
      <li [class.active]="viewMode == 'map'">
        <a (click)="viewMode = 'map'">Home</a>
      </li>
      <li [class.active]="viewMode == 'list'">
        <a (click)="viewMode = 'list'">Authors List</a>
      </li>

      <li [class.active]="viewMode == 'contact'">
        <a (click)="viewMode = 'contact'">Contact us</a>
      </li>

      <li [class.active]="viewMode == 'signup'">
        <a (click)="viewMode = 'signup'">Sign up</a>
      </li>
    </ul>
  </div>

  <app-test-switch [viewMode]="viewMode"></app-test-switch>
</div>
<router-outlet></router-outlet>
