.root-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  background: lightblue;
}

.header h1 {
  padding: 1.5rem;
}

.nav {
  display: flex;
  justify-content: center;
  justify-items: center;
  list-style: none;
}

.nav li {
  padding: 1rem;
}

.nav li a:hover {
  cursor: pointer;
}

.active {
  color: white;
}
