<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">
    Welcome Page
  </div>

  <div *ngSwitchCase="'list'">
    <authors></authors>
  </div>

  <div *ngSwitchCase="'contact'">
    <contact-us></contact-us>
  </div>

  <div *ngSwitchCase="'signup'">
    <app-signup-form></app-signup-form>
  </div>

  <div *ngSwitchCase="'newCourse'">
    <app-newCourseForm></app-newCourseForm>
  </div>

  <div *ngSwitchCase="'posts'">
    <app-posts></app-posts>
  </div>

  <div *ngSwitchDefault>Otherwise</div>
</div>
