.root-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 auto;
}

.form-container {
  display: inline-flex;
  justify-content: center;
}

.root-container h2 {
  font-weight: 200;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.authors-container {
  display: flex;
  justify-content: center;
}


ul {
  list-style: none;
}

ul li {
  display: flex;
  justify-content: center;
}

.active {
  color: green;
}